/* 
    Created on : 3-Jun-2021, 2:27:32 PM
    Author     : Yetunde Oluwo
*/

* {
     box-sizing: border-box;
}

body {
     background: url(../images/doctor2.jpg) no-repeat center center fixed;
     background-size: cover !important;
     background-color: #dbf3fa;
     color: #094c72;
     font-family: 'merriweather', sans-serif;
     text-align: center;
     line-height: 1.6;
     margin: 0;
     height: 100vh;
     overflow: hidden;

}

.navigation h1{
     background-color: #094c72;
     color: #fff;
     border: 2px solid #00254d;
     border-radius: 5px;
     font-family: 'merriweather', sans-serif;
     font-size: 40px;
     margin-top: 0;

}

.container {
     max-width: 350px;
     margin-top: 100px;
     margin-left: auto;
     margin-right: auto;
     background-color: #88cff9;
     padding: 30px 40px 50px 40px;
     border: 2px solid #5ec3ff;
     border-radius: 5px;
     box-shadow: 0px 0px 2px 2px #2f739c; 
    
}

.container a {
     text-decoration: none;
     color: #114bd9;
     font-size: 14px;
}

.form-control{
     position: relative;
     margin: 20px 0 20px 0px;
     width: 280px;
     text-align: left;
     color: #094c72;
     font-size: 20px;
}

.form-control input {
     background-color: transparent;
     border: 0;
     border-bottom: 2px #fff solid;
     display: block;
     width: 90%;
     padding: 40px 0px 0px 0px;
     font-size: 18px;
     font-family: 'merriweather', sans-serif;
}

.form-control input:focus, 
.form-control input:valid {
     outline: none;
     transform: translateY(20px);
}

.form-control label{
     position: absolute;
     top: 15px;
     left: 0;
}

.btn{
     cursor: pointer;
     display: inline-block;
     width: 100%;
     background-color: #dbf3fa;
     padding: 15px;
     font-size: 18px;
     font-family: inherit;
     color: #094c72;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
}

.btn:hover{
     color: #88cff9;
}

.btn:focus{
     outline: none;
}

.btn:active{
     transform: scale(0.96);
     background-color: #bdd2d9;
     color: #094c72;
}

p{
     font-family: 'merriweather', sans-serif;
     color: #659f74;
}

.navigation .icon .fa {
     color: #dbf3fa;
     font-size: 35px;
}