/* 
    Created on : Jul 16, 2021, 9:53:39 AM
    Author     : Kilanga Maxwell
*/

.mtable {
    border-collapse: collapse;
    margin: 25px 0 10px 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mtable td {
    padding: 12px 15px; 
    color: #094c72;
}

.mtable tr {
    background-color: #dbf3fa;
    border-bottom: 1px solid #094c72;
}


.bttn {
     cursor: pointer;
     display: inline-block;
     width: 150px;
     background-color: #094c72;
     color: white;
     padding: 10px 5px;
     font-size: 18px;
     font-family: inherit;
    
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0 0 110px;
}


.bttn:hover {
     background-color: #88CFF9;
}
