/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Jul-2021, 11:30:16 PM
    Author     : Yetunde Oluwo
*/

html {
     scroll-behavior: smooth;
     height: 100%;
}

/* CSS for designing request time off card 
.time-off {
     margin-top: 20px;
     margin-left: 15px;
     margin-bottom: 20px;
     padding: 0;
     width: 600px;
     height: auto;
     font-size: 15px;
     color: #00254d;
     background-color: #dcf4fc;
     box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
}
*/
.time-off {
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
     padding: 5px 10px 5px 10px;
     width: 80%;
     height: auto;
     text-align: center;
     background-color: #dbf3fa;
     color: #094c72;
     font-size: 25px;
     box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
}

.time-off form {
     margin: 10px 20px;
     width: 50%;
}

table {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
     width: 95%;
     border-collapse: collapse;
}

th {
     text-align: left;
     color: #094c72;
     font-weight: bold;
     padding: 5px 7px;
}

td {
     padding: 6px;
     border: 1px solid #ccc;
     text-align: left;
     color: #094c72;
     background-color: #fff;
     padding: 10px 20px;
     width: auto;
}

.btn-submit {
     cursor: pointer;
     display: inline-block;
     width: 150px;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #094c72;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0 20px 120px;
}

.btn-cancel {
     cursor: pointer;
     display: inline-block;
     width: auto;
     background-color: #dbf3fa;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #00254d;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0px 20px 220px;
}

.btn-save {
     cursor: pointer;
     display: inline-block;
     width: 80px;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #00254d;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0px 20px 20px;
}

.btn-post {
     cursor: pointer;
     display: inline-block;
     width: 150px;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #00254d;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 5px 0;
}

.btn-sched {
     cursor: pointer;
     display: inline-block;
     width: 80px;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #00254d;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0px 20px 287px;
}

.btn-req {
     cursor: pointer;
     display: inline-block;
     width: 90px;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #094c72;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0 20px 180px;
}

.btn-review {
     cursor: pointer;
     display: inline-block;
     width: 70px;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #094c72;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0 20px 10px;
}

.btn-confirm {
     cursor: pointer;
     display: inline-block;
     width: 150px;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #094c72;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0 20px 15px;
}

.btn-new {
     cursor: pointer;
     display: inline-block;
     width: 130px;
     background-color: #dbf3fa;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #00254d;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0px 20px 165px;
}

.btn-use {
     cursor: pointer;
     display: inline-block;
     width: 150px;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #00254d;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0px 20px 20px;
}

.btn-save:hover, .btn-submit:hover, .btn-sched:hover, .btn-req:hover, .btn-review:hover, .btn-confirm:hover, .btn-use:hover, input[type="submit"]:hover {
     color: #dcf4fc;
}

.btn-cancel:hover, .btn-new:hover {
     background-color: #bdd2d9;
}

.btn-cancel:focus, .btn-save:focus, .btn-submit:focus, .btn-sched:focus, .btn-req:focus, .btn-review:focus, .btn-confirm:focus, .btn-new:focus, .btn-use:focus, input[type="submit"]:focus {
     outline: none;
}

.btn-cancel:active, .btn-save:active, .btn-submit:active, .btn-sched:active, .btn-req:active, .btn-review:active, .btn-confirm:active, .btn-new:active, .btn-use:active, input[type="submit"]:active {
     transform: scale(0.96);
     background-color: #bdd2d9;
     color: #094c72;
}

.center {
     transform: translate(1%, 4%);
}

input[type="checkbox"] {
     position: relative;
     width: 25px;
     height: 12px;
     -webkit-appearance: none;
     background: #bdc3c7;
     outline: none;
     border-radius: 20px;
     box-shadow: inset 0 0 5px #00254d;
}

input:checked[type="checkbox"] {
     background: #88cff9;
}

input[type="checkbox"]:before {
     content: "";
     position: absolute;
     width: 10px;
     height: 11px;
     border-radius: 20px;
     top: 0px;
     left: 0px;
     background: #fff;
     transform: scale(1.1);
     transition: 0.5s;
     box-shadow: 0 2px 5px #bdc3c7;
}

input:checked[type="checkbox"]:before {
     left: 14px;
}

.rto {
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
     padding: 5px 10px 5px 10px;
     width: 80%;
     height: auto;
     text-align: center;
     background-color: #dbf3fa;
     color: #094c72;
     font-size: 25px;
     box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
}

.rto form {
     width: 50%;
     margin-left: auto;
     margin-right: auto;
}

.rto table {
     font-size: 16px;
}

.form-schedule {
     position: relative;
     margin-top: 10px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     width: auto;
     text-align: left;
     color: #094c72;
     font-size: 20px;
     padding: 10px;
}

.form-schedule input, select {
     background-color: transparent;
     border: 0;
     border-bottom: 2px #094c72 solid;
     width: auto;
     padding: 35px 0px 0px 0px;
     font-size: 18px;
     text-align: left;
     top: 15px;
     left: 40%;
     font-family: 'merriweather', sans-serif;
}

.form-schedule label {
     top: 15px;
     left: 40%;
     text-align: left;
     margin-bottom: 5px;
     padding: 0px 0 0 20px;
     font-size: 20px;
}

.req {
     margin-top: 20px;
     margin-left: 15px;
     margin-bottom: 20px;
     padding: 5px 10px 5px 10px;
     width: 350px;
     height: auto;
     background-color: #dbf3fa;
     color: #094c72;
     font-size: 15px;
     box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
}

.req h2 {
     text-align: left;
}

input[type="submit"] {
     cursor: pointer;
     display: inline-block;
     width: auto;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #00254d;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0px 20px 20px;
}

input[type="delete"] {
     cursor: pointer;
     display: inline-block;
     width: auto;
     background-color: #88cff9;
     padding: 8px 5px;
     font-size: 15px;
     font-family: inherit;
     color: #00254d;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin: 15px 0px 20px 20px;
}

.details {
     margin-top: 20px;
     margin-left: 0;
     margin-bottom: 20px;
     padding: 5px 10px 5px 10px;
     width: auto;
     height: auto;
     background-color: #dbf3fa;
     color: #094c72;
     font-size: 15px;
     box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

     html {
          scroll-behavior: smooth;
          height: 100%;
          overflow-x: auto;
     }

     .time-off, .rto, .req {
          display: block;
          margin-left: 10px;
          margin-top: 10px;
          padding: 0;
          width: 300px;
          height: auto;  
          background-color: #dcf4fc;
     }

     h1, h2 {
          font-size: 20px;
     }

     .manage {
          margin-top: 10px;
          margin-left: 7px;
          width: 100%;
          background-color: #dbf3fa;
          overflow-x: auto;
     }

     .time-off form {
          margin: 1px 1px;
     }


     /* Remove default table settings */
     table, thead, tbody, tr, th, td {
          display: block;
     }

     tr {
          margin: 0 0 1rem 0;
     }

     tr:nth-child(odd) {
          background: #88cff9;
     }

     td {
          /* Makes it behave like a row */
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 50%;
          text-align: left;
          color: #094c72;
          padding: 1px 0px;
          font-size: 13px;
     }

     td:before {
          position: absolute;
          top: 0;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
     }

     th {
          text-align: left;
          color: #094c72;
          font-size: 15px;
          padding: 2px 2px;
     }

     .btn-cancel {
          cursor: pointer;
          display: inline-block;
          width: 65px;
          background-color: #88cff9;
          padding: 5px 5px;
          font-size: 13px;
          font-family: inherit;
          color: #094c72;
          border-radius: 5px;
          box-shadow: 1px 1px 1px 0px #2f739c;
          margin: 15px 0px 0 120px;
     }

     .btn-save {
          cursor: pointer;
          display: inline-block;
          width: 65px;
          background-color: #88cff9;
          padding: 7px 5px;
          font-size: 13px;
          font-family: inherit;
          color: #094c72;
          border-radius: 5px;
          box-shadow: 1px 1px 1px 0px #2f739c;
          margin: 15px 0px 0 10px;
     }

     .btn-sched {
          cursor: pointer;
          display: inline-block;
          width: 80px;
          background-color: #88cff9;
          padding: 8px 5px;
          font-size: 13px;
          font-family: inherit;
          color: #094c72;
          border-radius: 5px;
          box-shadow: 1px 1px 1px 0px #2f739c;
          margin: 15px 0 20px 130px;
     }

     .btn-req {
          cursor: pointer;
          display: inline-block;
          width: 90px;
          background-color: #88cff9;
          padding: 8px 5px;
          font-size: 15px;
          font-family: inherit;
          color: #094c72;
          border-radius: 5px;
          box-shadow: 1px 1px 1px 0px #2f739c;
          margin: 15px 0 20px 170px;
     }

     .rto, .req {
          margin-left: 0;
     }
}