
/* 
    Created on : 14-Jun-2021, 2:34:10 PM
    Author     : Yetunde Oluwo
*/
* {
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family: 'merriweather', sans-serif;
}

body {
     overflow-x: hidden;
}

.container {
     position: relative;
     width: 100%;
}

h1 {
     font-family: 'lato', sans-serif;
     font-size: 25px;
     padding: 0 0 0 10px;
    
}

.navigation {
     position: fixed;
     width: 260px;
     height: 100%;
     background: #094c72;
     transition: 0.5s;
     overflow: hidden;
}

.navigation.active{
     width: 60px;
}

.navigation ul {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
}

.navigation ul li {
     position: relative;
     width: 100%;
     list-style: none; 
}

.navigation ul li:hover {
     background: #88cff9;
}

.navigation ul li:nth-child(1){
     margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover {
     background: transparent;
}

.navigation ul li a {
     position: relative;
     display: block;
     width: 100%;
     display: flex;
     text-decoration: none;
     color: #dbf3fa;
}

.navigation ul li a .icon {
     position: relative;
     display: block;
     min-width: 60px;
     height: 60px;
     line-height: 60px;
     text-align: center;
}

.navigation ul li a .icon .fa {
     color: #dbf3fa;
     font-size: 24px;
}

.navigation ul li a .title {
     position: relative;
     display: block;
     padding: 0 10px;
     height: 60px;
     line-height: 60px;
     white-space: nowrap;
}

.main {
     position: absolute;
     width: 100%;
     left: 260px;
     min-height: 100vh;
     background: #f5fdff;
     transition: 0.5s;
}

.main.active{
     width: calc(100% - 60px);
     left: 60px;
}

.main .topbar {
     width: 100%;
     background: #88cff9;
     height: 60px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     color: #095280;
     border: 1px solid #5ec3ff;
}

.toggle {
     position: relative;
     width: 60px;
     height: 60px;
     cursor: pointer;
}

.toggle::before {
     content: '\f0c9';
     font-family: fontAwesome;
     position: absolute;
     width: 100%;
     height: 100%;
     line-height: 60px;
     font-size: 24px;
     text-align: center;
}

.form-control {
     position: relative;
     margin: 10px 0 10px 0px;
     width: 280px;
     text-align: left;
     color: #094c72;
     font-size: 20px;
     padding: 20px;
}

.form-control input {
     background-color: transparent;
     border: 0;
     border-bottom: 2px #094c72 solid;
     display: block;
     width: 100%;
     padding: 35px 0px 0px 0px;
     font-size: 15px;
     font-family: 'merriweather', sans-serif;
}

.form-control input:focus, 
.form-control input:valid {
     outline: none;
     transform: translateY(20px);
}

.form-control label{
     position: absolute;
     top: 15px;
     left: 0;
     padding: 20px;
}

.btn{
     cursor: pointer;
     display: inline-block;
     width: 155px;
     background-color: #dbf3fa;
     padding: 15px;
     font-size: 18px;
     font-family: inherit;
     color: #094c72;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 0px #2f739c;
     margin-left: 105px;
}

.btn:hover{
     color: #88cff9;
}

.btn:focus{
     outline: none;
}

.btn:active{
     transform: scale(0.96);
     background-color: #bdd2d9;
     color: #094c72;
}

.submain {
     margin: 50px 0px 10px 40px;
}

p {
     color: #094c72;
     font-size: 18px;
     margin: 20px;
}