
/* 
    Created on : 14-Jun-2021, 2:34:10 PM
    Author     : Yetunde Oluwo
*/
* {
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family: 'merriweather', sans-serif;
}

body {
     overflow-x: hidden;
     
}

.container {
     position: relative;
     width: 100%;
}

h1 {
     font-family: 'lato', sans-serif;
}
.navigation {
     position: fixed;
     width: 300px;
     height: 100%;
     background: #094c72;
     transition: 0.5s;
     overflow: hidden;
}
.navigation ul {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     
}

.navigation ul li {
     position: relative;
     width: 100%;
     list-style: none;
     
}

.navigation ul li:hover {
     background: #dbf3fa;
     
}


.navigation ul li:nth-child(1):hover {
     background: transparent;
     
}