
/* 
    Created on : 14-Jun-2021, 2:34:10 PM
    Author     : Yetunde Oluwo
*/
* {
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family: 'merriweather', sans-serif;
}

body {
     overflow-x: hidden;
     
}

.container {
     position: relative;
     width: 100%;
}

h1 {
     font-family: 'lato', sans-serif;
}
.navigation {
     position: fixed;
     width: 300px;
     height: 100%;
     background: #094c72;
     transition: 0.5s;
     overflow: hidden;
}
.navigation ul {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     
}

.navigation ul li {
     position: relative;
     width: 100%;
     list-style: none;
     
}

.navigation ul li:hover {
     background: #88cff9;
     
}

.navigation ul li:nth-child(1){
     margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover {
     background: transparent;
     
}


.navigation ul li a {
     position: relative;
     display: block;
     width: 100%;
     display:flex;
     text-decoration: none;
     color: #dbf3fa;
     
}

.navigation ul li a .icon {
     position: relative;
     display: block;
     min-width: 60px;
     height: 60px;
     line-height: 60px;
     text-align: center;
}

.navigation ul li a .icon .fa {
     color: #dbf3fa;
     font-size: 24px;
}

.navigation ul li a .title {
     position: relative;
     display: block;
     padding: 0 10px;
     height: 60px;
     line-height: 60px;
     white-space: nowrap;
}